<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <% if @book.errors.any? %>
  <strong><%= @book.errors.count %>errors prohibited this obj from being saved:</strong>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
   <h2>Editing Book</h2>
   <%= form_with model: @book do |f| %>
   <div class="form-group">
   <label for="inputTitle">
    <br>
     Title
   </label>
   <br>
   <%= f.text_field :title, autofocus: true, id:"inputTitle"%>
   </div>
   <div class="form-group">
   <label for="inputBody">
    <br>
     Body
    </label>
    <br>
   <%= f.text_field :body, autofocus: true, id:"inputBody" %>
   </div>
   <div class="form-group">
   <%= f.submit "Update Book" %>
   </div>
   <%= link_to "Show", book_path(@book.id) %>
   <%= link_to "Back", books_path %>
   <% end %>
 </div>
</div>
